<div ng-include="'app/components/nav/nav.html'"></div>




<div class="container">
	
	<div ng-show="!searchBuild">
		<p>Sorry no vacancies at this time.</p>
		<a ng-href="#/" class="btn btn-primary">Back</a>
	</div>

	<div ng-show="searchBuild" class="row">
		<div class="cold-md-12">
			<div class="tabs">

				<div class="tab">
					<button class="btn btn-default" ng-click="selected = 'gallery'" ng-class="{ 'selected': selected == 'gallery' }">
						Gallery
					</button>
				</div>
				<div class="tab map">
					<button class="btn btn-default" ng-click="selected = 'map'" 
						ng-class="{ 'selected': selected == 'map' }">Map</button>
				</div>
				<div class="tab">
					<button class="btn btn-default" ng-click="selected = 'list'" 
						ng-class="{ 'selected': selected == 'list' }">List</button>
				</div>
			</div><!-- /.tabs -->

			<div ng-show="selected == 'gallery'" class="tab-content">
				<div class="row">

					<div ng-repeat="building in buildings" class="hover-wrap col-md-4">
						<div class="hover-box">
							<div class="img-wrap">
								<div class="img-overlay">
									<a class="btn btn-warning"
										ng-href="#/building/{{building._id}}">Details</a>
								</div>
								<img ng-show="building.imgFiles[0]" 
						  			src="uploads/{{ building.imgFiles[0].filename }}"
						  			class="img-responsive">
						  		<img src="assets/img/rental-placeholder.png" 
						  			class="img-responsive"
						  			ng-show="!building.imgFiles[0]">
							</div>
							<div class="text-center padding">

								
								<p>{{ building.name }}</p>
								<h4><a ng-href="#/building/{{building._id}}">
											{{ building.community }}
									</a></h4>
								<h3> {{ building.vacancies.length }} <small>Available</small></h3>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div ng-show="selected == 'map'" class="tab-content">
				<div class="row">
					<div class="col-md-12">
						<map init-event="getMap" id="map" center="49.2845094,-123.04535870000001" zoom="11">
							
							<marker id="build-{{building._id}}" ng-repeat="building in buildings"
								position="{{ building.lat }}, {{ building.lng }}"
								on-click="showInfoWindow(event, 'building._id')">


								<info-window id="building._id" max-width="200" visible-on-marker="build-{{building._id}}">
								    <div ng-non-bindable="">
								      
								      	<div class="text-center">
								      		<a href="#/building/{{building._id}}">
								      			<img src="assets/img/rental-placeholder.png" class="img-responsive">

										      	<h4>{{building.name}}</h4>
										      	<h4 class="green">{{ building.vacancies.length }} 

										      	<span ng-show="building.vacancies.length > 1">Vacancies </span>
										      	<span ng-show="building.vacancies.length == 1">Vacancy</span>
										      	Available</h4>
								      		</a>


								      	</div>
								        
								    </div>
								  </info-window>
							</marker>

						</map>
					</div>
				</div>
			</div>
			<div ng-show="selected == 'list'" class="tab-content">

			

				<div class="row" ng-repeat="building in buildings">

					<div class="row listings">
						<div class="col-md-1">
							<h1 class="txt-lg">{{ building.vacancies.length }}</h1>
						</div>

						<div class="col-md-6">
							<h2><small>Available apatment rentals - <span>{{ building.community }}</span></small> 
							<br><a class="no-line" href="#/building/{{ building._id }}">{{ building.name }}</a></h2>
						</div>
						<div class="col-md-3 col-md-offset-2">
						<div class="spacer-80"></div>
						<a href="#/preview/{{ building._id }}" class="btn btn-primary">View Details</a>
						</div>
					</div>
					<!-- ngRepeat Listings Begin -->
					
					
					

					<hr>

				</div>
			</div><!-- /.tab-content -->

		</div><!-- /.tabs -->
	</div><!-- /.row -->

</div><!-- /.container -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p><b>DW Properties</b>
				lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
			</div>

			<div class="col-md-4 text-right">
				<div class="row">
					<div class="col-md-6">
						<ul>
							<li class="nopad-top"><a href="#/">Home</a></li>
							<li><a href="#/vacancies">Vacancies</a></li>
							<li><a href="#/residential">Residential</a></li>
							<li><a href="#/commercial">Commercial</a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul>
							<li class="nopad-top"><a href="#/about">About</a></li>
							<li><a href="#/admin">Admin</a></li>
							<li><a href="" data-target="#contact-form" data-toggle="modal">Contact</a></li>
							<li><a href="#/apply/null">Apply Now</a></li>
						</ul>
					</div>
				</div>
			</div><!-- /.col-md-3 -->

			<div class="col-md-4 pull-right text-right">
				<p>
					<p><b>DW Properties</b></p>
					#101 - 1338 West 6th Ave Vancouver BC <br>
					Tel: <a href="tel:6046888899">604-688-8899</a> Fax: 604-688-9999 <br>
					Email: <a href="mailto:info@dwproperties.com">info@dwproperties.com</a>

				</p>
			</div>

		</div>
	</div>
	<div class="copyright text-center">
		<h5>Copyright © 2015 DW Properties. All Rights Reserved.</h5>
	</div>
</footer>