<div ng-include="'app/components/nav/nav.html'"></div>

<div class="container">
	<div class="row">
		<div class="jumbotron">
		  <div class="row">
		  	<div class="col-md-6">

		  		<img ng-show="building.imgFiles[0]" 
		  			src="uploads/{{ building.imgFiles[0].filename }}"
		  			class="img-responsive">
		  		<img src="assets/img/rental-placeholder.png" 
		  			class="img-responsive"
		  			ng-show="!building.imgFiles[0]">
		  	</div>
		  	<div class="col-md-6">
		  		<h2>{{ building.name }}</h2>
		  		<hr>
		  		<p>{{ building.address }}<br>Community: {{ building.community }}</p>
		  		<hr>
		  		<p>Rental office phone: 604.688-8899</p>
		  		<button class="btn btn-success btn-sm"
		  			data-target="#schedule-form" data-toggle="modal">
		  			Schedule Viewing
		  		</button>
				<a ng-href="#/apply/{{ building._id }}" class="btn btn-primary btn-sm">Apply Now</a>

		  	</div>
		  </div>
		</div>
	</div>

	<div class="row">
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Available Units</h3>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Unit #</th>
							<th>Type</th>
							<th>Bedrooms</th>
							<th>Monthly Rent</th>
							<th>Community</th>
							<th>Availability</th>
							<th>FT &sup2;</th>
							<th>Photos</th>
						</tr>
					</thead>

					<!-- Get 'available' listings -->
					<tr ng-repeat="unit in building.units | 
						filter: {available: 'yes'}">
						<td>#{{ unit.aptNum }}</td>
						<td>
							<small class="bg-success"
								ng-show="unit.rentalType.commercial">Commercial
							</small>
							<small class="bg-info"
								ng-show="unit.rentalType.residential">Residential
							</small>
						</td>
						<td>{{ unit.bedrooms }} bedrooms</td>
						<td>${{ unit.rentAmt }}</td>
						<td>{{ building.community }}</td>
						<td>{{ unit.moveInDate }}</td>
						<td>{{ unit.ft2 }} ft&sup2;</td>
						<td>
							<span ng-show="!unit.imgFiles[0]">No Photos</span>

							<!-- /View Photos -->
							<a href="" 
							ng-click="getPhotos(building._id, $index)"
							ng-show="unit.imgFiles[0]"
							>View Photos</a>
						</td>
					</tr>
					
				</table>
			</div><!-- /.panel-body -->
			
		</div><!-- /.panel -->
	</div><!-- /.row -->
	
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					
					<div class="col-md-3">
						<h4>Utilities</h4>
						<ul>
							<li ng-repeat="util in building.utils">{{util}}</li>
						</ul>
					</div>
					<div class="col-md-3">
						<h4>Amenities</h4>
						<ul>
							<li ng-repeat="amens in building.amens">{{ amens }}</li>
						</ul>
					</div>
					<div class="col-md-6">
						<h4>Building Description</h4>
						<p>{{ building.description }}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<span us-spinner spinner-key="spinner-1"></span>


</div><!-- /.container -->

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<p><b>DW Properties</b>
				lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> 
			</div>

			<div class="col-md-4 text-right">
				<div class="row">
					<div class="col-md-6">
						<ul>
							<li class="nopad-top"><a href="#/">Home</a></li>
							<li><a href="#/vacancies">Vacancies</a></li>
							<li><a href="#/residential">Residential</a></li>
							<li><a href="#/commercial">Commercial</a></li>
						</ul>
					</div>
					<div class="col-md-6">
						<ul>
							<li class="nopad-top"><a href="#/about">About</a></li>
							<li><a href="#/admin">Admin</a></li>
							<li><a href="" data-target="#contact-form" data-toggle="modal">Contact</a></li>
							<li><a href="#/apply/null">Apply Now</a></li>
						</ul>
					</div>
				</div>
			</div><!-- /.col-md-3 -->

			<div class="col-md-4 pull-right text-right">
				<p>
					<p><b>DW Properties</b></p>
					#101 - 1338 West 6th Ave Vancouver BC <br>
					Tel: <a href="tel:6046888899">604-688-8899</a> Fax: 604-688-9999 <br>
					Email: <a href="mailto:info@dwproperties.com">info@dwproperties.com</a>

				</p>
			</div>

		</div>
	</div>
	<div class="copyright text-center">
		<h5>Copyright © 2015 DW Properties. All Rights Reserved.</h5>
	</div>
</footer>

<div ng-include="'app/admin/partials/photo-gallery.html'"></div>
<div ng-include="'app/forms/schedule.html'"></div>


