<div ng-include="'app/components/nav/nav.html'"></div>




<div class="container">

	<div class="row">
		<div class="cold-md-12">
			<div class="tabs">

				<div class="tab">
					<button class="btn btn-default" ng-click="selected = 'gallery'" ng-class="{ 'selected': selected == 'gallery' }">
						Gallery
					</button>
				</div>
				<div class="tab map">
					<button class="btn btn-default" ng-click="selected = 'map'" 
						ng-class="{ 'selected': selected == 'map' }">Map</button>
				</div>
				<div class="tab">
					<button class="btn btn-default" ng-click="selected = 'list'" 
						ng-class="{ 'selected': selected == 'list' }">List</button>
				</div>
			</div><!-- /.tabs -->

			<div ng-show="selected == 'gallery'" class="tab-content">
				<div class="row">
					<div ng-repeat="building in buildings |
						filter: {rentalType:{commercial: 'commercial'}}" class="col-md-4">
						
						<div class="panel panel-default hover-box">
							<div class="panel-body">
								<div class="img-overlay">
									<a ng-href="#/building/{{building._id}}" class="btn btn-warning">More Info</a>
								</div>
								<img src="/uploads/{{ building.imgFiles[0].filename }}" class="img-responsive">
								<p>{{ building.name }}
								- {{ building.community }}</p>
								<h3>{{ building.vacancies.length }} Available</h3>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div ng-show="selected == 'map'" class="tab-content">
				<div class="row">
					<div class="col-md-12">
						<map init-event="getMap" id="map" center="49.2845094,-123.04535870000001" zoom="12">
							
							<marker ng-repeat="building in buildings"
								position="{{ building.lat }}, {{ building.lng }}">
							</marker>

						</map>
					</div>
				</div>
			</div>
			<div ng-show="selected == 'list'" class="tab-content">

			

				<div class="row" ng-repeat="building in buildings | filter: {rentalType:{commercial: 'commercial'}}">

					<div class="row listings">
						<div class="col-md-1">
							<h1 class="txt-lg">{{ building.vacancies.length }}</h1>
						</div>

						<div class="col-md-6">
							<h2><small>Available apatment rentals - <span>{{ building.community }}</span></small> <br>{{ building.name }}</h2>
						</div>
						<div class="col-md-3 col-md-offset-2">
						<div class="spacer-80"></div>
						<a href="#/preview/{{ building._id }}" class="btn btn-primary">View Details</a>
						</div>
					</div>
					<!-- ngRepeat Listings Begin -->
					
					
					

					<hr>

				</div>
			</div><!-- /.tab-content -->

		</div><!-- /.tabs -->
	</div><!-- /.row -->
	
	
	


	
	<div class="spacer-80"></div>

	
	
	
	
</div><!-- /.container