<div ng-controller="AdminCtrl" id="photo-gallery" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">{{building.name}} - #{{building.units[aptIndex].aptNum}}</h3>
      </div>
      <div class="modal-body">
      	 <span us-spinner spinner-key="spin-gallery"></span>
      	<img src="/uploads/{{ building.units[aptIndex].imgFiles[0].filename }}"
      			class="img-responsive"
      			id="main-img">

      	<div class="spacer-40"></div>

        <div class="thumb-wrap">
        	<img ng-repeat="img in building.units[aptIndex].imgFiles" 
        		src="/uploads/{{img.filename}}" 
        		class="imgTN"
        		ng-click="changeImg()">
        </div>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->