<!-- NAV Begin -->
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#/">DW Rental Properties</a>
	    </div>


	    
	  </div><!-- /.container-fluid -->
	</nav>
<!-- NAV End -->

<div class="spacer-80"></div>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<form id="imgUpload" action="/upload" method="post" enctype="multipart/form-data">	
					<div>
						<!-- / HIDDEN -->
						<input class="hidden" type="text" ng-model="building._id" name="buildID">
						<input class="hidden" type="text" ng-model="aptID" name="aptID">
						<input class="hidden" type="text" ng-model="aptIDX" name="aptIDX">
						<!-- /Hidden End -->

						
						<span class="file-input btn btn-file">
			                Drag and Drop Your Photos Here
			                <br>or
			                <br><button class="btn btn-info btn-lg">Select Photo</button> 
			                <input id='imgInp' type="file" multiple 
			                file-model='building.imgFiles' 
			                name="imgFiles">
						
			            </span>
					</div>
					<span us-spinner spinner-key="spinner-1"></span>
				</form>
			</div><!-- /.row -->

			<div class="row" ng-repeat="img in building.units[aptIDX].imgFiles">
				<img src="uploads/{{img.filename}}" class="imgTN">
				<button class="btn btn-danger" 
					ng-click="deleteUnitImg($index)">Delete</button>
				<hr>
			</div>

		
			
			<div class="row">
				<a class="btn btn-primary" ng-href="#/admin/authUser">Save Changes</a>
			</div>
		</div>

		
	</div>

</div>

