<!-- NAV Begin -->
	<nav class="navbar navbar-default">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#/">DW Rental Properties</a>
	    </div>


	    
	  </div><!-- /.container-fluid -->
	</nav>
<!-- NAV End -->

<div class="spacer-80"></div>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<form ng-submit="postBuilding(building)">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Post Building</h3>
				</div>
				<div class="panel-body">
					
						<div class="form-group">
							<label for="rentalType">Rental Type</label>
							<input type="checkbox"
								ng-model="building.rentalType.residential"
								ng-true-value="'Residential'"
								ng-false-value=""
								ng-required="!building.rentalType.commercial"> Residential

							<input type="checkbox" 
								ng-model="building.rentalType.commercial"
								ng-true-value="'Commercial'"
								ng-false-value=""
								ng-required="!building.rentalType.residential">  Commercial
						</div><!-- /.form-group (TYPE) -->

						<hr>

						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label for="name">Building Name</label>
									<input class="form-control" type="text" name="name" 
										ng-model="building.name"
										required>
								</div>
								<div class="col-md-6">
									<label for="community">Community</label>
									<select class="form-control" name="community" 
										ng-model="building.community"
										required>
										<option value="">--Select Community--</option>
										<option value="Vancouver">Vancouver</option>
										<option value="UBC">UBC</option>
										<option value="West-Broadway">West Broadway</option>
										<option value="Kingsway-Joyce">Kingsway &amp; Joyce</option>
										<option value="Gastown">Gastown</option>
										<option value="Downtown">Downtown</option>
										<option value="Kitsilano">Kitsilano</option>
									</select>
								</div>
							</div>
							
						</div><!-- /.form-group (NAME) -->

						<div class="form-group">
							<label for="address">Address</label>
							<div class="row">
								<div class="col-md-3">
									<input class="form-control" type="text" 
										name="streetNum" 
										ng-model="building.streetNum"
										placeholder="1234"
										required>
									<p><small><span>* </sapn>Street Number</small></p>
								</div>
								<div class="col-md-4">
									<input class="form-control" type="text" 
										ng-model="building.streetName"
										placeholder="Anywhere Street"
										name="streetName"
										required>
									<p><small><span>* </span>Street Name</small></p>
								</div>
								<div class="col-md-2">
									<input class="form-control" type="text" name="postal" 
										ng-model="building.postal"
										mask='@9@ 9@9'
										placeholder="V6V 6V6">
									<p><small>Postal Code</small></p>
								</div>
								<div class="col-md-3">
									<select id="selectCity" class="form-control" name="city" 
										ng-model="building.city"
										required>
										<option value="">-- Select City --</option>
										
										<option value="Burnaby">Burnaby</option>
										<option value="Coquitlum">Coquitlum</option>
										<option value="Delta">Delta</option>
										<option value="Surrey">Surrey</option>
										<option value="New Westminster">New Westminster</option>
										<option value="Langley">Langley</option>
										<option ng-value="Vancouver">Vancouver</option>
										<option value="Richmond">Richmond</option>
										<option value="North Shore">North Shore</option>
										<option value="UBC">UBC</option>
										<option value="Vancouver">Downtown/West End</option>
									</select>
									<p><small><span>* </span>City</small></p>
								</div>
							</div><!-- ./row -->
						</div><!-- /.form-group (ADDRESS) -->

						<div class="form-group">
							<label for="utils">Included Utilities</label>
							<div class="row">
								<div class="col-md-3">
									<input type="checkbox" 
										ng-model="building.utils.electricity"
										ng-true-value="'Electricity'"
										ng-false-value=""> Electricity
								</div>
								<div class="col-md-3">
									<input type="checkbox"
										ng-model="building.utils.heat"
										ng-true-value="'Heat'"
										ng-false-value=""> Heat
								</div>
								<div class="col-md-3">
									<input type="checkbox"
										ng-model="building.utils.water"
										ng-true-value="'Water'"
										ng-false-value=""> Water
								</div>
								<div class="col-md-3">
									<input type="checkbox"
										ng-model="building.utils.internet"
										ng-true-value="'Internet'"
										ng-false-value=""> Internet
								</div>
							</div>
						</div><!-- /.fom-group (UTILS) -->
						
						<hr>

						<div class="form-group">
							<label for="utils">Amenities</label>
							<div class="row">
								<div class="col-md-3">
									<input type="checkbox" 
										ng-model="building.amens.laundry"
										ng-true-value="'Laundry Facility'"
										ng-false-value=""> Laundry Facility
								</div>
								<div class="col-md-3">
									<input type="checkbox"
										ng-model="building.amens.storage"
										ng-true-value="'Storage Lockers'"
										ng-false-value=""> Storage Lockers
								</div>
								<div class="col-md-3">
									<input type="checkbox"
										ng-model="building.amens.balcony"
										ng-true-value="'Balcony'"
										ng-false-value=""> Balcony
								</div>
								<div class="col-md-3">
									<input type="checkbox"
										ng-model="building.amens.hardwoodFloor"
										ng-true-value="'Hardwood Flooring'"
										ng-false-value=""> Hardwood Floor
								</div>
							</div>
						</div><!-- /.fom-group (AMENITIES) -->

						<hr>
						
						<div class="form-group">
							<label for="description">Description</label>
							<textarea rows="8" class="form-control" ng-model="building.description"></textarea>
						</div>
						<span us-spinner spinner-key="spinner-1"></span>
					
				</div>
				<div class="panel-footer clearfix">
					<div class="pull-right">
						<button type="submit" class="btn btn-primary">
							Next Step > Add Photos
						</button>
					</div>
				</div>
			</div>
			</form>
		</div>
	</div>


</div>